@{
    ViewBag.Title = "卡密列表";
}
<link type="text/css" rel="stylesheet" href="/Content/unit.css">
<link type="text/css" rel="stylesheet" href="/Content/widget.css">
@using (Html.BeginForm("SearchByContact", "WxPay"))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input name="contact" type="text" class="form-control" placeholder="请输入订单号或者联系方式">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">查询</button>
                </span>
            </div>
        </div>
    </div>
}

<div id="content" class="w">
    <input type="hidden" id="isHide" />
    <div class="checkout-tit">
        <span class="tit-txt">以下是您的卡密</span>
    </div>

    <div class="checkout-steps">

        <div class="step-tit">
            <h3>卡密信息</h3>
        </div>
        <div class="hr"></div>
        <div class="step-cont">
            <div id="consignee-addr" class="consignee-content">
                <div class="consignee-scrollbar">
                    <div class="ui-scrollbar-main">
                        <div class="consignee-scroll">
                            <div class="consignee-cont" id="consignee1">
                                @{
                                    Dictionary<int, string> kamis = Model as Dictionary<int, string>;
                                    if (kamis != null)
                                    {

                                        foreach (var item in kamis)
                                        {
                                            <p><font color="red" style="padding:0 10px;">@item.Value</font></p>
                                        }
                                        <script>document.getElementById("isHide").value = "0"</script>
                                    }
                                    else
                                    {
                                        <p><font color="red" style="padding:0 10px;">兄弟，没货了</font></p>
                                   <script>document.getElementById("isHide").value = "1"</script>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="trade-foot">
        <div id="checkout-floatbar" class="group">
            <div class="ui-ceilinglamp checkout-buttons">

                <a class="checkout-download" id="order-submit" href="@Url.Action("DownLoadFile", new { tNo = ViewBag.tNo })">
                    提交订单<b></b>
                </a>
            </div>
        </div>
    </div>
    <script>if (document.getElementById("isHide").value==="1") document.getElementsByClassName("trade-foot")[0].style = "display:none"</script>
</div>