@{
    ViewBag.Title = "KaMiList";
}

@using (Html.BeginForm("SearchByContact", "WxPay"))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input name="contact" type="text" class="form-control" placeholder="请输入订单号或者联系方式">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">查询</button>
                </span>
            </div>
        </div>
    </div>
}
<div style="margin:20px 0 0 0">

    @{
        Dictionary<int, string> kamis = Model as Dictionary<int, string>;
        if (kamis != null)
        {
            <ul>
                @foreach (var item in kamis)
                {
                    <li>@item.Value</li>
                }
            </ul>
        }
        else
        {
            <h3>兄弟，没货了</h3>
        }
    }

</div>