@{
    ViewBag.Title = "购前必看：";
}
<link rel="stylesheet" href="/Content/bootstrap.css" />
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>
                    @Html.Raw(ViewBag.Message)
                </h2>
            </hgroup>

            <p>
                @ViewBag.ZhuYi
            </p>

        </div>
    </section>
}

<table cellpadding="10" width="1024px">
    <tbody>
       <tr>
           <th>
               商品名称
           </th>
           <th>
               单价
           </th>
           <th>
               库存
           </th>
           <th>
               购买数量
           </th>
           <th>
               接受邮箱
           </th>
           <th>
               操作
           </th>
       </tr> 
    </tbody>
</table>

<script src="http://og0chum3v.bkt.clouddn.com/jquery.js"></script>
<script src="http://og0chum3v.bkt.clouddn.com/bootstrap.js"></script>
