@{
    ViewBag.Title = "购前必看：";
}

<style type="text/css">
    .wq-list {
        padding: 10px 0px;
    }

    .method-list-p {
        list-style: none;
        padding-left: 0;
        margin-bottom: 10px;
        color: #a9afb5 !important;
        text-align: left !important;
    }

    .method-list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    .method-list .method-alipay {
        display: inline;
        float: left;
        margin: 0 0px 0px 0;
    }

        .method-list .method-box {
            border: 1px solid #CCC;
            padding: 11px 12px;
            cursor: pointer;
        }

    .method-list .method-radio {
        display: none;
    }

    .method-list .method-alipay .method-box.method-current {
        background-color: #EFF9FF;
        border-color: #00AAEE;
    }

    .method-list .method-qqpay {
        display: inline;
        float: right;
        margin: 0 0px 0px 0;
    }
    label {
        font-weight: 300;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .method-list .method-qqpay .method-box.method-current {
        background-color: #EFF9FF;
        border-color: #00AAEE;
    }
    .method-list .method-box.method-current {
        border-width: 2px;
        padding: 10px 11px;
        border-color: #f37800;
        background-color: #FFF6E7;
    }
    .styled-select select {
        height: 36px;
        padding: 6px 27px 6px 15px;
        line-height: 1.57142857;
        background-color: #000000;
        color: #1C86EE;
    }

    .xxhhh {
        width: 100%;
        display: block;
        padding-right: 20px;
        padding-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<link rel="stylesheet" href="/Content/bootstrap.css" />
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>
                    @Html.Raw(ViewBag.Message)
                </h2>
            </hgroup>

            <p>
                @ViewBag.ZhuYi
            </p>

        </div>
    </section>
}
@using (Html.BeginForm("Order", "WxPay", FormMethod.Post, new { id = "frmOrder" }))
{
    Html.AntiForgeryToken();

    <div class="wq-list">
        <input type="hidden" name="user" value="0">

        <p class="method-list-p">请选择支付方式</p>
        <ul class="method-list clearfix">
            <li class="method-alipay">
                <input type="radio" name="paytype" value="3" class="method-radio" id="qqpay" checked="checked">
                <label class="method-box method-current" for="qqpay">
                    <img src="/Images/wx.png" alt="使用微信支付" width="94">
                </label>
            </li>
            <li class="method-qqpay">
                <input type="radio" name="paytype" value="2" class="method-radio" id="alipay">
                <label class="method-box" for="alipay">
                    <img src="/Images/alipay.png" alt="使用支付宝支付" width="94">
                </label>
            </li>
        </ul>


    </div>
    <div class="wq-list">
        <div class="styled-select">
            <p class="method-list-p">商品分类</p>
            <select class="xxhhh" name="bigname" id="bigname">
                <option value="0">==请选择商品分类==</option>
                <option style="color:red;background-color: #fff;" value="1">★各大影视会员★自动发货</option>
                <option style="color:red;background-color: #fff;" value="3">★9毛9秒杀商品★自动发货</option>
                <option style="color:red;background-color: #fff;" value="5">★自动发卡工具★联系客服</option>
                <option style="color:red;background-color: #fff;" value="6">★各种精品Q号★联系客服</option>
                <option style="color:red;background-color: #fff;" value="7">★腾讯QQ业务★官方充值</option>
            </select>
        </div>
    </div>

    <div class="wq-list">
        <div class="styled-select">
            <p class="method-list-p">商品</p>
            <select class="xxhhh" name="shopid" id="smallname">
                <option style="color:red;background-color: #fff;" value="">==请选择商品==</option>
                <option style="color:red;background-color: #fff;" value="18">【腾讯视频VIP】1个月账号（包售后）&nbsp; -  ¥6.00</option>
                <option style="color:red;background-color: #fff;" value="21">【PPTV会员】账号120天左右 超低价&nbsp; -  ¥2.00</option>
                <option style="color:red;background-color: #fff;" value="16">【优酷土豆会员】1个月账号（包售后）&nbsp; -  ¥3.90</option>
                <option style="color:red;background-color: #fff;" value="19">【搜狐会员】1个月账号（包售后）&nbsp; -  ¥3.90</option>
                <option style="color:red;background-color: #fff;" value="17">【乐视会员】1个月账号（包售后）&nbsp; -  ¥3.90</option>
                <option style="color:red;background-color: #fff;" value="20">【芒果TV会员】1个月账号（包售后）&nbsp; -  ¥3.90</option>
                <option style="color:red;background-color: #fff;" value="30">【酷狗音乐Vip】包300首音乐，一人独享，可改密&nbsp; -  ¥4.99</option>
                <option style="color:red;background-color: #fff;" value="31">====【cdK直冲区】====&nbsp; -  ¥999.00</option>
                <option style="color:red;background-color: #fff;" value="29">【爱骑亿会员CDK一月】充值自己帐号，一人独享，可叠加&nbsp; -  ¥11.90</option>
                <option style="color:red;background-color: #fff;" value="32">【腾讯会员CDK一月】一人独享，充值自己帐号，不可叠加&nbsp; -  ¥9.90</option>
            </select>
        </div>
    </div>

    <div class="wq-list input-group" style="margin-top:10px">
        <input type="number" class="form-control" name="number" id="number" value="1" placeholder="购买数量">
        <div class="input-group-addon">数量</div>
    </div>

    <div class="wq-list animation-slide-bottom method-list-p" style="margin-top:10px">
        <ul class="method-list clearfix" style="list-style:none">
            <li class="method-qqpay">
                <button class="btn btn-primary submit" type="submit" data-target="#1tipForm" data-toggle="modal">
                    立即购买
                </button>
            </li>
        </ul>
    </div>
}

<script src="http://og0chum3v.bkt.clouddn.com/jquery.js"></script>
<script src="http://og0chum3v.bkt.clouddn.com/bootstrap.js"></script>
<script type="text/javascript">
    $('.amount-list > li').click(function () {
        for (var i = 0; i < $('.amount-list > li').length; i++) {
            $('.amount-list > li').eq(i).children('.amount-box').removeClass('amount-current');
        }
        $(this).children('.amount-box').addClass('amount-current');
        $("#amount").val($(this).children('.amount-radio').val());
    });
    $('.method-list > li').click(function () {
        for (var i = 0; i < $('.method-list > li').length; i++) {
            $('.method-list > li').eq(i).children('.method-box').removeClass('method-current');
        }
        $(this).children('.method-box').addClass('method-current');
        $("#method").val($(this).children('.method-radio').val());
    });
</script>