.w {
    width: 990px;
    margin: 0 auto;
}

a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #666;
    background: #fff;
}

.clearfix {
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

ol, ul {
    list-style: none;
}

.fr {
    float: right;
}

em, i, u {
    font-style: normal;
}

.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.hide {
    display: none;
}

button, html input[type=button], input[type=submit] {
    -webkit-apperance: button;
    cursor: pointer;
}

.checkout-buttons .checkout-submit b {
    position: absolute;
    left: 0;
    top: 0;
    width: 135px;
    height: 36px;
    background: url(/Images/btn-submit.jpg) no-repeat;
    cursor: pointer;
    overflow: hidden;
}