.checkout-tit {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}

.checkout-tit {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}

.checkout-tit .extra-l, .checkout-tit .tit-txt {
    float: left;
}

.checkout-steps {
    background-color: #fff;
    padding: 0 20px;
    border: 1px solid #f0f0f0;
}

.checkout-steps .step-tit {
    line-height: 40px;
    height: 40px;
    color: #333;
}

.checkout-steps .step-cont {
    margin-bottom: 10px;
}

.checkout-steps .step-tit h3 {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    float: left;
}

.hr {
    border-bottom: 1px solid #e6e6e6;
    height: 0;
    margin-bottom: 10px;
}

.consignee-content {
    overflow: hidden;
    max-height: 168px;
}

.consignee-scrollbar {
    width: 938px;
}

.consignee-scroll {
    position: relative;
    zoom: 1;
}

.consignee-scroll .consignee-cont {
    margin: 0 10px 0 20px;
    overflow: hidden;
}

.payment-list {
    padding: 0 20px 10px;
}

.payment-list .list-cont ul {
    display: inline-block;
    display: block;
}

.payment-list .list-cont ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.payment-list .list-cont li {
    float: left;
    margin-right: 9px;
    _display: inline;
    cursor: default;
}

.order-summary .statistic {
    width: 300px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.order-summary .statistic .list {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 5px;
    zoom: 1;
}

.order-summary .statistic span {
    width: 180px;
    margin-right: 20px;
    float: left;
    text-align: right;
}

.order-summary .statistic em {
    color: #e4393c;
}

.ftx-01, .ftx01 {
    color: #e4393c;
}

.order-summary .statistic .price {
    color: #333;
    float: left;
    width: 100px;
    text-align: right;
    font-family: verdana;
}

.trade-foot-detail-com {
    padding: 15px 10px 15px 0;
    line-height: 20px;
    text-align: right;
    border-top: 1px solid #e6e6e6;
    width: 980px;
    color: #999;
    background-color: #f4f4f4;
}

.trade-foot-detail-com .fc-baitiao-info, .trade-foot-detail-com .fc-consignee-info, .trade-foot-detail-com .fc-price-info, .trade-foot-detail-com .presale-price-info {
    margin-right: 10px;
    line-height: 25px;
}

.trade-foot-detail-com .fc-price-info .price-tit, .trade-foot-detail-com .presale-price-info .price-tit {
    color: #666;
}

.trade-foot-detail-com .fc-price-info .price-num, .trade-foot-detail-com .presale-price-info .price-num {
    color: #e4393c;
    font-family: Verdana;
    font-weight: 700;
    font-size: 18px;
    min-width: 122px;
    _width: 122px;
    float: right;
    text-align: right;
}

#checkout-floatbar {
    clear: both;
    width: 990px;
}

.checkout-buttons {
    position: relative;
    width: 990px;
    height: 50px;
}

.hide {
    display: none;
}

.checkout-buttons .sticky-wrap {
    position: relative;
    _zoom: 1;
}

.checkout-buttons .sticky-wrap .inner {
    padding: 0 10px;
}

.checkout-buttons .checkout-submit {
    float: right;
    position: relative;
    width: 135px;
    height: 36px;
    line-height: 36px;
    margin: 8px 10px 0 0;
    padding: 0;
    background-color: #e00;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-family: arial,"Microsoft YaHei";
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}

.checkout-buttons .checkout-download {
    float: right;
    position: relative;
    width: 135px;
    height: 36px;
    line-height: 36px;
    margin: 8px 10px 0 0;
    padding: 0;
    background-color: #e00;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-family: arial,"Microsoft YaHei";
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}

.checkout-buttons .checkout-submit-tip {
    background-color: #fffdee;
    border: 1px solid #edd28b;
    color: #f60;
    float: right;
    padding: 0 3px;
    height: 30px;
    line-height: 30px;
    margin: 10px 10px 0 0;
}

.submit-error {
    position: absolute;
    right: 10px;
    top: -22px;
    z-index: 3000;
    background: #FFE8E8;
    color: #C00;
    border: 1px solid #DB9A9A;
    line-height: 20px;
    padding: 0 5px;
}

.submit-check-info {
    color: #F60;
    height: 30px;
    line-height: 30px;
    top: -30px;
    padding: 0 5px;
    position: absolute;
    right: 10px;
    background-color: #FFFDEE;
    border: 1px solid #EDD28B;
}